@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}

ul{
    margin: 0;
    padding: 0;
}

/* header design */

header{
    width: 100%;
    background: url("../img/banner.png") center center no-repeat;
    background-size: cover;
    height: 100vh;
}

.navbar .navbar-brand img{
    width: 140px;
}

.navbar .nav-item{
    position: relative;
}

.navbar .nav-item::after{
    content: '';
    left: 0;
    position: absolute;
    width: 100%;
    transform: scale(0,1);
    height: 2px;
    background-color: #008ed6;
    transition: 0.7s;
}

.navbar .nav-item:hover:after{
    transform: scale(1,1);
    transition: 0.7s;
}

.navbar .nav-item .nav-link{
    padding: 8px;
    margin-right: 10px;
    color: white;
}


/* banner design */

.cus-height{
    margin-top: 50px;
    height: 72vh;
}

.banner-section .content h5{
    font-weight: 700;
    color: #008ed6;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.banner-section .content h1{
    width: 95%;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
}

.banner-section .content p{
    width: 88%;
    color: #fff;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 58px;
}

.banner-section .content .b-btns a{
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    margin: 0px 15px 0px 0px;
}

.banner-section .content .b-btns .btn-1{
    background-color: #008ed6;
    border: 1px solid #008ed6;
    transition: 0.4s;
}

.banner-section .content .b-btns .btn-1:hover{
    background: transparent;
    border-color: white;
    transition: 0.4s;
}

.banner-section .content .b-btns .btn-2{
    background: transparent;
    border-color: white;
    transition: 0.4s;
}

.banner-section .content .b-btns .btn-2:hover{
    background: #008ed6;
    border-color: #008ed6;
    transition: 0.4s;
}

/* feature design */

.feature-section{
    width: 100%;
    padding: 50px 0px 38px 0px;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.feature-section .col-12 h5{
    color: #008ed6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 7px;
}

.feature-section .col-12 h2{
    font-size: 35px;
    font-weight: 700;
}

.feature-section .underline{
    margin: 30px auto;
    background: #578bd1;
    height: 3px;
    width: 5%;
    transition: 0.5s;
}

.feature-section .underline:hover{
    margin: 30px auto;
    background: #578bd1;
    width: 13%;
    transition: 0.5s;
}

.feature-section .inner i{
    border: 2px solid #d6d6d6;
    border-radius: 50%;
    color: #008ed6;
    padding: 26px;
    margin-bottom: 20px;
    height: 88px;
    width: 88px;
    font-size: 30px;
}

.feature-section .inner h5{
    color: #1a1a1a;
    font-size: 22px;
}

.feature-section .inner p{
    color: #999999;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    width: 94%;
}

/* something design */

.something-section{
    width: 100%;
    padding: 70px 0px;
}

.something-section .s-inner h5{
    color: #008ed6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 7px;
    margin-top: 60px;
}

.something-section .s-inner h2{
    font-size: 35px;
    font-weight: 700;
}

.something-section .s-inner .underline{
    margin: 29px 0px 0px 0px;
    background: #578bd1;
    height: 3px;
    width: 10%;
    transition: 0.5s;
}

.something-section .s-inner .underline:hover{
    margin: 29px 0px 0px 0px;
    background: #578bd1;
    width: 25%;
    transition: 0.5s;
}

.something-section .s-inner p{  
    width: 87%;
    color: #999999;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
} 

.something-section ul{
    margin: 25px 0px 0px;
    padding: 0;
}

.something-section ul li{
    list-style-type: none;
    margin-bottom: 10px;
}

.something-section li i{
    color: #008ed6;
    margin-right: 7px;
    font-size: 18px;
}

/* whatever design */

.whatever-section{
    background-color: #f2f2f2;
    width: 100%;
    padding: 50px 0px;
}

.whatever-section img{
    width: 100%;
}

.whatever-section .w-inner h5{
    color: #008ed6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 7px;
    margin-top: 60px;
}

.whatever-section .w-inner h2{
    font-size: 35px;
    font-weight: 700;
}

.whatever-section .w-inner .liner{
    margin: 30px 0px 0px 0px;
    background: #578bd1;
    height: 3px;
    width: 10%;
    transition: 0.5s;
}

.whatever-section .w-inner .liner:hover{
    margin: 30px 0px 0px 0px;
    background: #578bd1;
    width: 25%;
    transition: 0.5s;
}

.whatever-section .w-inner p{
    width: 87%;
    color: #999999;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 25px;
    margin-bottom: 25px;
}

/* testimonial design */

.testimonial-section{
    /* padding: 30px 0px; */
    background: url(../img/test.png) center center no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}

.testimonial-section .t-inner{
    text-align: center;
    margin-bottom: 50px;
    margin-top: -6px;
}

.testimonial-section .t-inner h5{
    color: #008ed6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 7px;
    margin-top: 60px;
}

.testimonial-section .t-inner h2{
    font-size: 35px;
    font-weight: 700;
    color: white;
}

.testimonial-section .t-inner .underline{
    margin: 30px auto;
    background: #578bd1;
    height: 3px;
    width: 5%;
    transition: 0.5s;
}

.testimonial-section .t-inner .underline:hover{
    margin: 30px auto;
    background: #578bd1;
    width: 15%;
    transition: 0.5s;
}

.testimonial-section .owl-carousel .item p{
    width: 78%;
    color: rgb(230, 230, 230);
    font-style: italic;
    font-weight: 200;
}

.testimonial-section .owl-carousel .item .intro{
    display: flex;
}

/* .testimonial-section .owl-carousel .item .intro .pic{
    
} */

.testimonial-section .owl-carousel .item .intro .pic img{
    width: 55px;
    margin-right: 15px;
}

.testimonial-section .owl-carousel .item .intro .details{
    color: white;
    padding: 10px 0px 0px;
}

.testimonial-section .owl-carousel .item .intro .details h4{
    font-size: 14px;
    font-weight: 400;
}

.testimonial-section .owl-carousel .item .intro .details h5{
    font-weight: 600;
    font-size: 14px;
}

.owl-theme .owl-dots{
    margin-top: 70px;
}

/* call to action design */

.cta{
    width: 100%;
    padding: 50px 0px;
    background-color: #15141a;
}

.cta h2{
    color: white;
    font-weight: 700;
    font-size: 31px;
}

.cta h2 span{
    font-weight: 400;
    color: rgb(168, 168, 168);
}

.cta .b-btns{
    text-align: right;
}

.cta .b-btns a{
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border: 1px solid;
    border-radius: 4px;
    margin: 0px 15px 0px 0px;
}

.cta .b-btns .btn-1{
    background: transparent;
    border-color: white;
    transition: 0.4s;
}

.cta .b-btns .btn-1:hover{
    background: #008ed6;
    border-color: #008ed6;
    transition: 0.4s;
}

.cta .b-btns .btn-2{
    background-color: #008ed6;
    border: 1px solid #008ed6;
    transition: 0.4s;
}

.cta .b-btns .btn-2:hover{
    background: transparent;
    border-color: white;
    transition: 0.4s;
}

/* pricing design */

.pap{
    width: 100%;
    padding-bottom: 30px;
}

.pap .p-inner{
    text-align: center;
    margin-bottom: 55px;
}

.pap .p-inner h5{
    color: #008ed6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 7px;
    margin-top: 60px;
}

.pap .p-inner h2{
    font-size: 35px;
    font-weight: 700;
    color: black;
}

.pap .p-inner .underline{
    margin: 30px auto;
    background: #578bd1;
    height: 3px;
    width: 5%;
    transition: 0.5s;
}

.pap .p-inner .underline:hover{
    margin: 30px auto;
    background: #578bd1;
    width: 15%;
    transition: 0.5s;
}

.pap .price-card{
    text-align: center;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 25px 0px;
}

.pap .price-card .pc-header{
    border-bottom: 1px solid #dfdfdf;
    padding: 0 0 33px;
}

.pap .price-card .pc-header h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 700;
}

.pap .price-card .pc-body{
    padding: 30px 0 15px;
    border-bottom: 1px solid #dfdfdf;
}

.pap .price-card .pc-body h2{
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 700;
}

.pap .price-card .pc-footer p{
    padding: 20px 27px 0px;
    color: #999999;
    margin-bottom: 50px;
}

.pap .price-card .pc-footer a{
    text-decoration: none;
    color: #578bd1;
    font-weight: 600;
} 

.pap .price-card .pc-footer .p-btn{
    background: transparent;
    color: #578bd1;
    font-size: 14px;
    margin-bottom: 25px;
}

.pap .price-card .pc-footer .p-btn a{
    text-decoration: none;
    padding: 15px 40px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}

.pap .price-card:hover .pc-header h3{
    color: #008ed6;
    transition: 0.5s;
}

.pap .price-card:hover .pc-body{
    background-color: #008ed6;
    color: white; 
    transition: 0.5s;
}

.pap .price-card:hover .p-btn a{
    background-color: #008ed6;
    color: white;
    transition: 0.5s;
}

/* contact design */

.contact{
    width: 100%;
    margin-top: 25px;
    padding-bottom: 0px;
    background: #ededed;
}

.contact .c-inner{
    text-align: center;
    margin-bottom: 40px;
}

.contact .c-inner h5{
    color: #008ed6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 7px;
    margin-top: 60px;
}

.contact .c-inner h2{
    font-size: 35px;
    font-weight: 700;
    color: black;
}

.contact .c-inner .underline{
    margin: 30px auto;
    background: #578bd1;
    height: 3px;
    width: 5%;
    transition: 0.5s;
}

.contact .c-inner .underline:hover{
    margin: 30px auto;
    background: #578bd1;
    width: 15%;
    transition: 0.5s;
}

.contact .i-box i{
    font-size: 29px;
    color: #578bd1;
}

.contact .i-box p{
    color: #999999;
}

.contact form{
    width: 60%;
    margin: 0 auto;
    margin-top: 80px;
    background-color: #15141a;
    padding: 50px 30px;
    margin-bottom: -60px;
    position: relative;
    z-index: 1;
}

.contact form .form-inner{
    display: flex;
}

.contact form .form-inner .left{
    flex-basis: 50%;
    margin-right: 10px;
}

.contact form .form-inner .right{
    flex-basis: 50%;
    margin-left: 10px;
}

.form-control{
    padding: 13px 8px;
    background: transparent;
    font-weight: 600;
}

.form-control::placeholder{
    color: #999999;
}

textarea{
    height: 120px;
}

.btn-primary{
    background-color: #008ed6;

}

.btn-primary:hover{
    background: transparent;
    border: 1px solid #fff;
}

/* footer design */

footer{
    width: 100%;
    padding: 40px 0px;
    background-color: #15141a;
}

footer .f-inner ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0px 10px;
}

footer .f-inner ul li a i{
    color: #7e7e7e;
    font-size: 20px;
}

footer .f-inner p{
    color: #999999;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 0px;
}